/*

In this file css for the contact card only has been defined

*/

.containerContact {
    max-width: 35vw;
    min-width: max-content;
    margin: 1% auto;
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(180, 179, 179, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-control {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff;
}

.form-control:focus {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    box-shadow: none;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.btn-custom {
    background-color: #b760ff;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #942aea;
}

.containerContact h2 {
    font-size: 3.5em;
    animation: none;
    text-align: center;
    background-image: linear-gradient(45deg, #d36efb, rgb(151, 153, 247));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.modal-custom .modal-content {
    background-color: #030504d4;
    color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-custom .modal-header, .modal-custom .modal-footer {
    border: none;
}

.modal-custom .modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-custom .modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-custom .close {
    color: #fff;
    opacity: 1;
}

@media (max-width: 768px) {
    .containerContact {
        padding: 15px;
    }

    .containerContact h2 {
        font-size: 2.5em;
    }
}

@media (max-width: 576px) {
    .containerContact {
        padding: 10px;
    }

    .containerContact h2 {
        font-size: 2em;
    }

    .form-control {
        font-size: 14px;
    }

    .btn-custom {
        font-size: 14px;
    }
}

.spinner-border-custom {
    color: #b760ff;
}

.loading-text {
    color: #fff;
}

.modal-loading .modal-content {
    background-color: #000000bc; /* Mirror black background */
    color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-loading .modal-body {
    padding: 20px;
}

.modal-loading .modal-body .loading-text {
    margin-top: 10px;
}