@media (max-width: 599px) {
    html,body{
        width: 100%;
        height: 100%;
        overflow-x: hidden !important;
    }
    #nav1{
        display: none;
    }
    .nav2{
        display: block;
        position: absolute;
        z-index: 5;
    }
    .intro{
        flex-direction: column;
        flex: 1;
        height: 220vw;
    }
    .intro-photo{
        height: 80vh;
    }
    .intro-photo img{
        display: none;
    }
    .blob{
        width: 100vw;
        z-index: -1;
        margin-top: -80vh;
        padding-left: 10vh;
        position: fixed;
    }
    .intro-text{
        position: static;
        padding-top: 10vh;  
        align-self: start;
        z-index: 0;   
        /* border: 1px solid seagreen; */
    }
    .intro-text .containerContact{
        min-width: 70vw;
        margin-top: -10vw;
    }


    /* Nav Bar Styles */
    .nav-link{
        padding-top: 12.5%;
        padding-bottom: 12.5%;
    }
    .nav-link i{
        margin-left: -80%;
    }
    .nav-link span {
        opacity: 1;
        color: #ffffff;
        font-family: "Fugaz One", sans-serif;
        font-size: 1em;
        font-weight: 300;
    }
    .nav-link:hover{
        .fas,.fab{
            transition: transform 0.3s;
            color: #ffffff;
        }
    }

    .navbar-mobile {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    .navbar-mobile .navbar-toggler {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .navbar-mobile .navbar-toggler:focus {
        outline: none;
    }

    .navbar-mobile .navbar-toggler-icon {
        color: #ffffff;
        font-size: 1.5rem;
        transition: transform 0.3s;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -80px;
        width: 180px;
        height: 100%;
        background-color: #12141bf5;
        z-index: 1;
        transition: left 0.3s ease-in-out;
    }

    .mobile-menu.show {
        display: flex;
        left: 0%;
        align-items: stretch;
    }

    .mobile-menu .nav-link {
        color: #ffffff;
        font-size: 1.2rem;
    }

    .mobile-menu .nav-link:hover {
        background-color: #a24afb;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    html,body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    .intro{
        flex-direction: column;
        flex: 3;
        /* border: 1px solid greenyellow; */
    }
    .intro-photo{
        height: 65vh;
    }
    .intro-photo img{
        display: none;
    }
    .blob{
        width: 70vw;
        position: fixed;
        z-index: -1;
        margin-top: -70vw;
        left: 70vw !important;
    }
    .intro-text{
        align-self: center;
        position: static;
        padding-top: 10vh;  
        flex-grow: 5;
        z-index: 0;
        /* border: 1px solid red; */
        width: 80vw;
    }
    .intro-text .containerContact{
        max-width: 80vw;
    }

  }

  @media (min-width: 769px) and (max-width: 1024px){
    html,body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    .intro{
        flex-direction: column;
        flex: 3;
        /* border: 1px solid greenyellow; */
    }
    .intro-photo{
        height: 65vh;
    }
    .intro-photo img{
        display: none;
    }
    .blob{
        width: 70vw;
        position: fixed;
        z-index: -1;
        margin-top: -70vw;
        left: 70vw !important;
    }
    .intro-text{
        align-self: center;
        position: static;
        padding-top: 10vh;  
        flex-grow: 5;
        z-index: 0;
        /* border: 1px solid red; */
        width: 60vw;
    }
    .intro-text .containerContact{
        max-width: 60vw;
    }

  }