.fi{
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
    flex-wrap: wrap;
}
.fib{
    height: 10vw;
    width: 10vw;
    min-height: 3vw;
    min-width: 3vw;
    border-radius: 5%;
    /* border: 1px solid crimson; */
    flex-wrap: wrap;
    background-color: bisque;
    background-image: url("ppf.png");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 1s ease;
}

.fib:hover{
    /* background-image: linear-gradient(45deg, #d36efb, rgba(21, 21, 35, 0.679)); */
    background-color: aquamarine;
    background-size: 100%;
    cursor: pointer;
}

.line{
    height: 5px;
    background-image: linear-gradient(45deg, #d36efb, rgb(88, 90, 244));
    /* border: 10px; */
}

@media (max-width: 599px) {
    .fib{
        height: 10vw;
        width: 10vw;
        min-height: 120px;
        min-width: 120px;
    }
}