body {
    margin: 0;
    font-family: "Ysabeau SC", sans-serif;
    background-color: #070F2B;
    color: #ffffff;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

#nav2{
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    background-color: #1f1f1f;
    font-size: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.nav-link {
    color: #ffffff;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%; 
    text-decoration: none; 
    transition: all 1.3s;
}


.nav-link .fa {
    font-size: 24px;
    transition: transform 0.3s;
}


.nav-link:hover{
    .fas,.fab{
        transition: transform 0.3s;
        color: #b974fd;
    }
}


.nav-link span {
    display: none;
    margin-left: 10px;
    font-size: 0;
    transition: font-size 0.3s;
}

.content {
    margin-left: 5%;
    padding: 2rem;
    transition: margin-left 0.3s;
}
.intro {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.intro-text {
    flex: 1;
}

.intro-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.blob{
    position: absolute;
    width: 90vh;
    height: 85vh;
    z-index: -1;
}
.intro-photo img {
    max-width: 70vh;
    height: auto;
    animation: float 10s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#changing-text-container {
    display: inline-flex;
    position: relative;
    align-items: center;
    
}
#changing-text {
    display: inline-block;
    font-size: 1.2em;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    transition: width 1s, color 1s;
}

@keyframes slideOut {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 0px var(--clr);
    }
    to {
        text-shadow: 0 0 10px var(--clr), 0 0 0px var(--clr);
    }
}

.glow {
    animation: glow 6s ease-in-out infinite alternate;
}


/*
   Media Queries for Responsiveness
*/

@media (max-width: 480px){
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
    }
    .navbar{
        display: none;
    }
    .h1{
        font-size: 40px;
    }
    #intro1{
        font-size: 4vh;
        margin-top: 45vh;
        margin-left: -16%;
        min-width: 200px;
    }
    #intro2{
        font-size: 4vh;
        margin-left: -15%;
        margin-top: 3vh;
        min-width: 200px;
    }
    .intro-photo{
        margin-top: -70%;
    }

    /*
        NavBar Styles
    */
    #nav2{
        display: block;
    }

    .navbar-mobile {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 2;
    }

    .navbar-mobile .navbar-toggler {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .navbar-mobile .navbar-toggler:focus {
        outline: none;
    }

    .navbar-mobile .navbar-toggler-icon {
        color: #ffffff;
        font-size: 1.5rem;
        transition: transform 0.3s;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -80px;
        width: 80px;
        height: 100%;
        background-color: #1f1f1f;
        padding-top: 1rem;
        z-index: 1;
        transition: left 0.3s ease-in-out;
    }

    .mobile-menu.show {
        display: flex;
        left: 0;
    }

    .mobile-menu .nav-link {
        color: #ffffff;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .mobile-menu .nav-link:hover {
        color: #b974fd;
    }
}
